@import "./main";

.staff {
  padding: 0 0 120px;
  &__list {
    &-content {
      max-height: 0;
      overflow: hidden;
      transition: all 550ms ease-in-out;
    }

    &-inner {
      display: block;
      padding: 24px 0;
    }
  }

  &__member {
    margin: 24px auto 0 auto;
    //width: 302px;
    //height: 429px;
    border-radius: 16px;
    background: $primaryLightest;
    //padding: 12px 0 12px 0;
    //min-height: 192px;
    position: relative;

    &--first{
      margin: auto;
    }

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      border-radius: 16px;
    }

    &-text{
      //margin-top: -80px;
      text-align: center;
      color: $white;
      position: absolute;
      bottom: 24px;
      width: 100%;
      padding: 0 10px 0 10px;
    }

    &-role {
      font: 400 14px/1.3 "Mallory-Book", sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.7px;
      
    }

    &-name {
      font: 400 32px/1.1 $malloryBook;
      margin-bottom: 12px;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .staff {

    

    &__list {
      &-inner {
        display: flex;
        flex-flow: row wrap;
        gap: 8px;
        padding: 24px 0;
      }
    }

    &__member {
      width: 440px;
      background: transparent;
      grid-template-columns: 1fr 1fr;
      gap: 24px;
      height: 497px;
      padding: 0;
      margin: 0;

      &--first {
        width: 100%;
        position: relative;
        text-align: center;
        

        &_img{
          margin: auto;
          width: 628px;
          min-height: 418px;
        }
      }


      &-img {
        border-radius: 32px;
      }

      &-text{
        bottom: 12px;
      }
    }
  }
}

/* @media screen and (min-width: 1024px) and (max-width: 1320px) {
  .staff {
    .container {
      max-width: 1000px;
    }
  } 
} */



 @media only screen and (max-width: 500px) {
  .staff {
    &__member {
      height: 335px;
    }
  }
 } 

 @media only screen and (max-width: 1377px) {
  .staff {
    &__list {
      &-inner {
        justify-content: center;
      }
    }
  }
 } 
