@import "../../src/scss/general/variables";


.poslovni_prostor {
  padding: 75px 0;
  //height: 2040px;
  position: relative;

  &__text {
    margin-bottom: 32px;
  }

  &__title {
    h2 {
      font: 400 40px/1.1 $Cardo;
      color: $primary;
    }
  }

  &__paragraph {
    margin-top: 36px;
    color: $primary;
  }


  &__images {
    display: flex;
    flex-direction: column;

    &-content-1{
      position: relative;
      width: 100%;
      height: 250px;
      overflow: hidden;
      align-self: end;
      margin: 0 auto;

      &--text{
        position: absolute;
        display: flex;
        color: $white;
        z-index: 2;
        //top: -100%;
        top: 50px;
        left: 20px;
        gap: 12px;
        align-items: center;
      }
      &--text-2{
        position: absolute;
        max-width: 90%;
        color: $white;
        z-index: 2;
        //top: 30%;
        //left: -100%;
        top: 80px;
        //left: -100%;
        left: 20px;

        p{
          font-size: 10px;
        }
      }
      &--number{
        font-size: 24px;
      }
      &--title{
        font-size: 16px;
      }
      &--gradient{
        position: absolute;
        width: 100%;
        height: 100%;
        background: #00000059;
        z-index: 1;
        top: 0;
      }
    }

    &-content-2{
      position: relative;
      width: 90%;
      height: 250px;
      overflow: hidden;
      margin: -42px auto 0 auto;
      align-self: end;
      z-index: 3;
      &--text{
        position: absolute;
        display: flex;
        color: $white;
        z-index: 2;
        bottom: -100%;
        left: 20px;
        gap: 12px;
        align-items: center;
      }
      &--text-2{
        position: absolute;
        max-width: 90%;
        color: $white;
        z-index: 2;
        //bottom: 250px;
        bottom: 110px;
        left: -100%;

        p{
          font-size: 10px;
        }
      }
      &--number{
        font-size: 24px;
      }
      &--title{
        font-size: 16px;
      }
      &--gradient{
        position: absolute;
        width: 100%;
        height: 100%;
        background: #00000059;
        z-index: 1;
        top: 0;
      }
    }

    &-img-1 {
      position: absolute;
      top: 0;
      width: 100%;
      height: 250px;
      object-fit: cover;
      align-self: end;

      object-position: bottom;
    }

    &-img-2 {
      position: absolute;
      top: 0;
      width: 100%;
      height: 250px;
      object-fit: cover;
      //float: right;
      align-self: end;
      object-position: bottom;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .poslovni_prostor {
    padding: 75px 0;

    &__text {
      margin-bottom: 32px;
    }

    &__title {
      h2 {
        font-size: 70px;
      }
    }
    &__images {
      &-content-1{
        width: 100%;
        //height: 800px;
        height: 600px;

        &--text{
          top: -100%;
          left: 20px;
          gap: 12px;
        }
        &--text-2{
          max-width: 525px;
          color: $white;
          top: 135px;
          left: -100%;
        }
        &--number{
          font-size: 100px;
        }
        &--title{
          font-size: 30px;
        }
      }

      &-content-2{
        width: 60%;
        //height: 800px;
        height: 600px;
        margin: -115px 20px 0 0;
        &--text{
          bottom: -100%;
          left: 20px;
          gap: 12px;
          align-items: center;
        }
        &--text-2{
          max-width: 525px;
          bottom: 95px;
          left: -100%;
        }
        &--number{
          font-size: 100px;
        }
        &--title{
          font-size: 30px;
        }
      }

      &-img-1 {
        width: 100%;
        height: 600px;
        object-fit: cover;
        align-self: end;
        object-position: bottom;
      }

      &-img-2 {
        width: 100%;
        height: 600px;
        object-fit: cover;
        align-self: end;
        object-position: top;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .poslovni_prostor {
    padding: 120px 0;

    &__text {
      margin-bottom: 105px;
    }

    &__title {
      h2 {
        font-size: 100px;
      }
    }

    &__paragraph {
      margin-top: 36px;
      max-width: 525px;
    }

    &__images {
      display: flex;
      flex-direction: column;

      &-content-1{
        width: 100%;
        height: 800px;

        &--text{
          top: -100%;
          left: 20px;
          gap: 12px;
        }
        &--text-2{
          max-width: 525px;
          color: $white;
          top: 255px;
          left: -100%;

          p{
            font-size: 16px;
          }
        }
        &--number{
          font-size: 100px;
        }
        &--title{
          font-size: 30px;
        }
      }

      &-content-2{
        width: 74%;
        height: 800px;
        margin: -115px calc((100% - 1680px) / 2) 0 0;
        &--text{
          bottom: -100%;
          left: 20px;
          gap: 12px;
          align-items: center;
        }
        &--text-2{
          max-width: 525px;
          bottom: 50px;
          left: -100%;

          p{
            font-size: 16px;
          }
        }
        &--number{
          font-size: 100px;
        }
        &--title{
          font-size: 30px;
        }
      }

      &-img-1 {
        height: 800px;
        object-position: bottom;
      }

      &-img-2 {
        height: 800px;
        object-position: bottom;
      }
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1680px) {
  .poslovni_prostor {
    padding: 120px 0;

    &__images {
      &-content-1{
        width: 100%;
        //height: 800px;
        height: 600px;

        &--text{
          top: -100%;
          left: 20px;
          gap: 12px;
        }
        &--text-2{
          //max-width: 525px;
          max-width: 460px;
          color: $white;
          top: 135px;
          left: -100%;
        }
        &--number{
          font-size: 100px;
        }
        &--title{
          font-size: 30px;
        }
      }

      &-content-2{
        width: 60%;
        //height: 800px;
        height: 600px;
        margin: -115px 20px 0 0;
        &--text{
          bottom: -100%;
          left: 20px;
          gap: 12px;
          align-items: center;
        }
        &--text-2{
          max-width: 525px;
          bottom: 95px;
          left: -100%;
        }
        &--number{
          font-size: 100px;
        }
        &--title{
          font-size: 30px;
        }
      }

      &-img-1 {
        height: 600px;
        object-position: bottom;
      }

      &-img-2 {
        height: 600px;
        object-position: top;
      }
    }
  }
}