.footer{
  position: relative;
  overflow: hidden;
  background-color: #02294E;
  padding-top: 467px;
  opacity: 0;
  transition: all 1s ease-in-out;

  a{
    text-decoration: none;
  }

  &__top{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    flex-direction: column;
    gap: 56px;

    &--info{
      display: flex;
      flex-direction: column;
      gap: 56px;
      width: 100%;
      order: 3;
      text-align: center;
      div {
        display: flex;
        flex-direction: column;
        gap: 9px;
        p {
          color: $white;
          font: 400 14px/1 $malloryBook;
          a{
            color: $white;
            font: 400 14px/1 $malloryBook;
            transition: all 0.3s ease-in-out;

            &:hover{
              color: $accent;
            }
          }
        }
      }

      .button-iron{
        align-self: center;
      }
    }

    &--logo{
      display: block;
      margin-top: -200px;
      width: 100%;
      order: 1;

      &-img{
        margin: 0 auto;
        width: 274px;
      }
    }

    &--menu{
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      text-align: center;
      order: 2;
      &-link{
        a{
          color: $white;
          font: 400 20px/1 $malloryBook;
          transition: all 0.3s ease-in-out;

          &:hover{
            color: $accent;
          }
        }
      }

      &--items{
        display: flex;
        flex-direction: column;
        gap: 9px;
      }

      &-socials{
        display: none;
      }

      &-social{
        &-icon{
          filter: invert(100%) brightness(1000%);
          transition: opacity 0.3s ease-in-out;

          &:hover{
            opacity: 0.7;
          }
        }
      }
    }

    &--socials-mobile{
      display: flex;
      width: 100%;
      order: 4;
      justify-content: space-between;

      &-dre{
        width: 115px;
      }

      &-socials{
        display: flex;
        gap: 24px;
      }
      &-social{
        &-icon{
          filter: invert(100%) brightness(1000%);
          height: 16px;
        }
      }
    }

    &--second-menu-mobile{
      display: flex;
      flex-direction: column;
      gap: 12px;
      order: 5;
      text-align: center;
      &-link-item{
        color: $white;
        font: 400 12px/1 $malloryBook;
        text-transform: uppercase;
        cursor: pointer;
      }
    }
  }


  &__bottom{
    display: flex;
    justify-content: space-between;
    padding: 38px 0 44px;
    border-top: 1px solid #39648D;

    .container{
      width: 100%;
    }

    &--menu{
      display: none;
    }
    &--copyright{
      color: $white;
      font: 400 15px/1 $malloryBook;
      text-align: center;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .footer{
    position: relative;
    overflow: hidden;
    background-color: #02294E;
    padding-top: 467px;
    opacity: 0;
    transition: all 1s ease-in-out;

    &__top{
      align-items: center;
      justify-content: space-between;
      margin-bottom: 89px;
      flex-direction: row;

      &--info{
        display: flex;
        flex-direction: column;
        gap: 34px;
        width: calc(100% / 3);
        text-align: start;
        order: 1;
        align-self: start;
        div {
          p {
            display: flex;
            flex-direction: column;
            gap: 9px;
            font-size: 20px;
            a{
              font-size: 20px;
            }
          }
        }

        .button-iron{
          align-self: start;
        }
      }

      &--logo{
        display: block;
        margin-top: -200px;
        width: calc(100% / 3);
        order: 2;

        &-img{
          margin: 0 auto;
          width: auto;
        }
      }

      &--logo-mobile{
        display: none;
      }

      &--menu{
        display: flex;
        flex-direction: column;
        gap: 86px;
        width: calc(100% / 3);
        align-items: flex-end;
        text-align: start;
        order: 3;
        &-link{
          a{
            color: $white;
            font: 400 20px/1 $malloryBook;
          }
        }

        &--items{
          display: flex;
          flex-direction: column;
          gap: 9px;
        }

        &-socials{
          display: flex;
          gap: 48px;
        }

        &-social{
          &-icon{
            filter: invert(100%) brightness(1000%);
            transition: all 50ms ease-in-out;

            &:hover{
              opacity: 0.7;
            }
          }
        }
      }

      &--socials-mobile{
        display: none;
      }

      &--second-menu-mobile{
        display: none;
      }
    }


    &__bottom{
      display: flex;
      justify-content: space-between;
      padding: 38px 0 44px;
      border-top: 1px solid #39648D;

      .container{
        display: flex;
        justify-content: space-between;
        width: 100%;
      }

      &--menu{
        display: flex;
        flex-direction: row;
        gap: 148px;
        justify-content: space-between;

        &-link-item{
          color: $white;
          font: 400 15px/1 $malloryBook;
          text-transform: uppercase;
          transition: all 0.3s ease-in-out;
          cursor: pointer;

          &:hover{
            color: $accent;
          }
        }
      }
      &--copyright{
        font-size: 15px;
      }
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1380px) {
  .footer{
    &__top{
      &--info{
        width: 372px;
        .button-iron-big{
          gap: 85px;
        }
      }

      &--logo{
        width: calc((100% - 40px) - 744px);
        &-img{
          width: 100%;
          max-width: 365px;
        }
      }
      &--menu{
        width: 372px;
      }
    }

    &__bottom{
      &--menu{
        gap: 48px;
      }
    }
  }
}