@import "../../src/scss/general/variables";

.atrijum-animation {
  padding: 80px 0;
  background: linear-gradient(270deg, #6A9AC2 0%, #02294E 100%);
  height: 100vh;
  overflow: hidden;

  .container{
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__content {
    position: relative;
    top: 200px;
    height: 100%;
  }

  &__img {
    width: 100%;
    position: relative;
    z-index: 2;
  }

  &__red-circle {
    width: 2px;
    transition: all 1s ease-out;
    transform-origin: center;
    position: absolute;
    //top: 192px;
    //left: 275px;
    top: 55px;
    left: 160px;
    opacity: 0;
    transform: scale(0);
    //scale(90)
  }

  &__yellow-circle {
    width: 2px;
    transition: all 1s ease-out;
    transform-origin: center;
    position: absolute;
    //top: 315px;
    //left: 722px;
    top: 156px;
    left: 479px;
    transform: scale(0);
    opacity: 0;
  }

  &__blue-circle {
    width: 2px;
    transition: all 1s ease-out;
    transform-origin: center;
    position: absolute;
    //top: 495px;
    //left: 335px;
    top: 279px;
    left: 206px;
    transform: scale(0);
    opacity: 0;
  }

  &__info-1, &__info-2, &__info-3{
    &--divider{
      display: none;
    }
    &--divider-mobile{
      display: block;
    }
    &--content {
      flex-direction: column;
    }

    &--svg {
      display: none;
    }

    &--text {
      width: 100%;
    }
  }

  &__info-1 {
    width: 100%;
    padding: 10px;
    //color: white;
    position: absolute;
    top: -140px;
    //clip-path: inset(0 100% 0 0);
    display: flex;
    //left: 0;
    //left: 150%;
    align-items: center;
    gap: 55px;
    z-index: 3;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    &--content {
      display: flex;
      gap: 12px;
    }

    &--title {
      width: 100%;
      font: 400 28px/33px $CeraPro;
      color: #D82F24;
    }

    &--text {
      font: 400 14px/1.3 $CeraPro;
      align-self: center;
      color: $white;
    }
  }

  &__info-2 {
    width: 100%;
    padding: 10px;
    position: absolute;
    top: -140px;
    //clip-path: inset(0 100% 0 0);
    //animation: reveal 1s linear forwards;
    display: flex;
    //left: 0;
    //left: 150%;
    align-items: center;
    gap: 55px;
    z-index: 3;

    &--content {
      display: flex;
      gap: 12px;
    }

    &--title {
      width: 100%;
      font: 400 28px/33px $CeraPro;
      color: #FFCC4E;
    }

    &--text {
      font: 400 14px/1.3 $CeraPro;
      align-self: center;
      color: white;
    }
  }

  &__info-3 {
    width: 100%;
    padding: 10px;
    position: absolute;
    top: -140px;
    //clip-path: inset(0 100% 0 0);
    //animation: reveal 1s linear forwards;
    display: flex;
    //left: 0;
    //left: 150%;
    //align-items: center;
    gap: 55px;
    z-index: 3;

    &--content {
      display: flex;
      gap: 12px;
    }

    &--title {
      width: 100%;
      font: 400 28px/33px $CeraPro;
      color: #6A9AC2;
    }

    &--text {
      font: 400 14px/1.3 $CeraPro;
      align-self: center;
      color: white;
    }
  }

  .button-iron{
    display: flex;
    bottom: 160px;
    align-self: center;
  }

  @keyframes reveal {
    from {
      clip-path: inset(0 100% 0 0);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
  }

  @keyframes revealBack {
    from {
      clip-path: inset(0 0 0 0);
    }
    to {
      clip-path: inset(0 100% 0 0);
    }
  }
}

//@media only screen and (min-width: 768px) and (max-width: 1024px) {
//  .atrijum-animation {
//    &__info-1 {
//      left: 1000px;
//      opacity: 1;
//    }
//  }
//}

@media only screen and (max-width: 768px) {
  .atrijum-animation {
    &__content {
      top: 200px;
      margin: 0 auto;
      width: 360px;
    }

    &__img {
      width: 100%;
    }

    &__red-circle {
      top: 3px;
      left: 90px;
    }

    &__yellow-circle {
      top: 83px;
      left: 269px;
    }

    &__blue-circle {
      top: 138px;
      left: 116px;
    }

    &__info-1, &__info-3{
      top: -160px;

      &--content {
       padding: 0 20px;
      }
    }

    &__info-2{
      top: -190px;
      &--content {
        padding: 0 20px;
      }
    }

    .button-iron{
      bottom: 0;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .atrijum-animation {
    &__content {
      top: 150px;
    }

    &__img {
      width: 880px;
    }

    &__red-circle {
      top: 102px;
      left: 222px;
    }

    &__yellow-circle {
      top: 225px;
      left: 658px;
    }

    &__blue-circle {
      top: 396px;
      left: 283px;
    }

    &__info-1, &__info-2, &__info-3{
      clip-path: inset(0 100% 0 0);
      &--divider{
        display: block;
      }
      &--divider-mobile{
        display: none;
      }
      &--content {
        flex-direction: row;
      }
      &--svg {
        display: block;
      }
    }

    &__info-1 {
      width: 1085px;
      padding: 10px;
      top: -62px;
      left: 376px;
      gap: 55px;
      opacity: 1;

      &--content {
        margin-bottom: 35px;
        gap: 24px;
      }

      &--title {
        width: min-content;
        font-size: 32px;
        color: white;
      }

      &--text {
        width: 310px;
        font-size: 16px;
      }
    }

    &__info-2 {
      width: 720px;
      padding: 10px;
      top: 173px;
      left: 910px;
      gap: 55px;

      &--content {
        gap: 24px;
      }

      &--title {
        width: min-content;
        font-size: 32px;
        color: white;
      }

      &--text {
        width: 310px;
        font-size: 16px;
      }
    }

    &__info-3 {
      width: 995px;
      padding: 10px;
      top: 520px;
      //top: unset;
      //bottom: 170px;
      left: 440px;
      gap: 55px;

      &--content {
        gap: 24px;
      }

      &--title {
        width: min-content;
        font-size: 32px;
        color: white;
      }

      &--text {
        width: 310px;
        font-size: 16px;
      }
    }
    .button-iron{
      display: none;
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .atrijum-animation {
    padding: 60px 0;

    .container{
      display: flex;
      justify-content: center;
    }
    &__content {
      top: 150px;
      width: 1100px;
    }

    &__img {
      width: 500px;
    }

    &__red-circle {
      top: 30px;
      left: 125px;
    }

    &__yellow-circle {
      top: 121px;
      left: 373px;
    }

    &__blue-circle {
      top: 210px;
      left: 160px;
    }
    &__info-1, &__info-2, &__info-3{
      gap: 24px;
      &--content {
        gap: 16px;
      }

      &--title {
       font-size: 28px;
      }

      &--text {
       font-size: 14px;
      }
    }
    &__info-1{
      width: 800px;
      top: -80px;
      left: 215px;
    }

    &__info-2{
      width: 530px;
      top: 100px;
      left: 470px;
      &--text {
        width: 190px;
      }
    }

    &__info-3{
      width: 775px;
      top: 300px;
      left: 224px;

      &--text {
       align-self: start;
      }
    }
  }
}

@media only screen and (min-width: 1440px) and (max-width: 1700px) {
  .atrijum-animation {
    padding: 30px 0;
    &__content {
      position: relative;
      top: 170px;
    }

    &__img {
      width: 700px;
    }

    &__red-circle {
      top: 70px;
      left: 177px;
    }

    &__yellow-circle {
      top: 174px;
      left: 524px;
    }

    &__blue-circle {
      top: 305px;
      left: 225px;
    }

    &__info-1{
      top: -70px;
      left: 285px;
    }

    &__info-2{
      width: 700px;
      top: 138px;
      left: 710px;
    }

    &__info-3{
      top: 380px;
      left: 380px;
    }
  }
}