@import "./main";


.brands {
  padding: 48px 0;
  overflow: hidden;

  &__filters {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    gap: 24px;
    margin: 0 -20px;
    padding: 0 20px 24px;
    overflow-x: auto;
    margin-bottom: 24px;
  }

  &__filter {
    flex-shrink: 0;
    position: relative;
    max-width: 150px;
    font: 400 14px/1 $malloryBook;
    color: $primaryMedium;
    text-transform: uppercase;
    transition: all 300ms ease-in-out;

    svg {
      display: none;
      position: absolute;
      top: 0;
      left: -4px;
      transform: translateX(-100%);
    }

    &.active {
      color: $black;

      svg {
        flex-shrink: 0;
        display: block;
        width: 9px;
      }
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 12px;
    row-gap: 24px;
  }

  &__card {
    display: none;
    width: 100%;
    height: auto;
    aspect-ratio: 2/3;
    border-radius: 16px;
    overflow: hidden;

    &.active {
      display: block;
    }
  }
}

@media only screen and (min-width: 768px) {
  .brands {
    &__cards {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .brands {
    &__cards {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 48px;
    }

    &__card {
      border-radius: 32px;
    }

    &__filters {
      flex-wrap: nowrap;
      gap: 48px;
      padding: 0;
      overflow: visible;
    }

    &__filter {
      flex-shrink: 1;
      max-width: 170px;
      min-width: 105px;
    }
  }
}
