@import "../../src/scss/general/variables";

.hero-text {
  &__breadcrumb {
    visibility: hidden;
  }

  &__main {
    position: relative;
    height: 530px;
    padding: 120px 0 48px;
    color: $white;
    overflow: hidden;
  }

  &__image,
  &__video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    &--mobile {
      z-index: 2;
    }

    &-desktop {
      z-index: 1;
    }
    &-position-center{
      object-position: center;
    }
    &-position-bottom{
      object-position: bottom;
    }
  }

  &__gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(180deg, #222 0%, rgba(34, 34, 34, 0) 100%);
    opacity: 0.5;
    z-index: 3;

    &--bottom {
      top: auto;
      bottom: 0;
      height: 421px;
      background: linear-gradient(0deg, #222 0%, rgba(34, 34, 34, 0) 100%);
    }
  }

  &__full-gradient {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(38, 75, 89, 0.67);
    background-blend-mode: multiply;
    z-index: 3;
  }

  .container {
    order: 1;
    position: relative;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    z-index: 4;
  }

  .social {
    order: 2;
    position: relative;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    z-index: 4;
  }

  &__breadcrumb {
    span {
      display: grid;
      grid-template-columns: 1fr;
      gap: 6px;

      a,
      .breadcrumb_last {
        font: 400 12px/1 $malloryBook;
        text-transform: uppercase;
      }

      a {
        color: $white;
        opacity: 0.5;
      }

      .breadcrumb_last {
        color: $white;
      }
    }
  }

  &__tagline {
    margin-bottom: 6px;
  }

  .btn {
    margin-top: 24px;
  }

  &__socials{
    display:none;
  }

  &__description {
    padding: 48px 0;

    &-banner {
      margin-bottom: 24px;
    }

    &-logo {
      display: block;
      margin-bottom: 12px;
      width: 114px;
      height: 42px;
      object-fit: contain;
      object-position: left;
    }

    &-socials {
      display: flex;
      align-items: center;
      gap: 24px;
    }

    &-social {
      img {
        display: block;
        width: 34px;
        height: 34px;
      }
    }

    &-paragraphs {
      color: $white;
      max-width: 525px;
    }

    &-paragraph {
      margin-bottom: 24px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &--two {
      .hero-text__description-paragraphs {
        &--one {
          margin-bottom: 24px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .hero-text {
    &__main {
      height: 100vh;
      max-height: 816px;
    }

    &__image,
    &__video {
      &--mobile {
        display: none;
      }
    }

    &__breadcrumb {
      span {
        display: flex;

        span {
          &::after {
            content: '/';
            font: 400 14px/1 $malloryBook;
            color: $white;
            opacity: 0.5;
          }
        }

        a,
        .breadcrumb_last {
          font-size: 14px;
        }

        .breadcrumb_last {
          &::after {
            display: none;
          }
        }
      }
    }

    &__content {
      display: grid;
      grid-template-columns: 2fr 370px;
      .inline{
        display:inline;
      }
    }

    &__text {
      flex: 1;
      align-self: end;
    }

    &__socials{
      display:grid;
      align-content: end;
    }
    &__socials--container{
      font: 400 14px/1 $malloryBook;
      position:relative;
      display: grid;
      grid-template-columns: 150px 1fr;
      gap:20px;
      margin:5px 0;
      &.entered .icons {
        left:0;
      }
      &.left .icons {
        left:100%;
      }
    }
    &__socials--icons{
      position:relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      overflow:hidden;
      border-right:1px solid #fff;
      padding-right:10px;
      //margin:2px 15px 0;
      .icons {
        position: relative;
        left:100%;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;

        a{
          padding:2px 3px;
          margin:0 3px;
          &:hover{
            opacity:0.5;
          }
        }
        img{
          display:inline-block;
        }
      }
    }
    &__socials--brand{
      display: flex;
      &:hover{
        cursor:pointer;
      }
    }


    /*&__social{
      display: grid;
      align-items: flex-end;
      justify-content: flex-end;

      &--item{
        display:block;
      }
    }*/

    &__description {
      .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 48px;
      }

      &-banner {
        order: 2;
      }

      &-paragraphs {
        order: 1;
      }

      &-logo {
        margin-left: auto;
      }

      &-socials {
        justify-content: flex-end;
      }

      &-social {
        img {
          width: 24px;
        }
      }
    }
  }
}
