@import "../../src/scss/general/variables";

.hover-images{
  padding: 120px 0 88px;

  .container:last-of-type{
    max-width: unset;
    padding: 0;
  }

  &__content{
    &--top{
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 32px;

      .button-iron{
        display: none;
      }

      &-text{
        display: flex;
        flex-direction: column;
        max-width: unset;
        gap: 24px;
      }

      &-title{
        color: $primary;
      }

      &-paragraph{
        color: $primary;
      }
    }

    &--bottom{
      display: flex;
      gap: 20px;
      flex-direction: column;
    }

    &--image-1{
      position: relative;
      height: 248px;
      width: 100%;
      overflow: hidden;
      transition: all 1s ease-in-out;

      &-img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &-text{
        position: absolute;
        z-index: 2;
        display: flex;
        gap: 12px;
        align-items: center;
        bottom: 6px;
        left: 20px;
      }

      &-number{
        font: 400 40px/1.1 $Cardo;
        color: $white;
      }

      &-paragraph{
        font: 400 20px/1.1 $Cardo;
        color: $white;
      }
    }

    &--image-2{
      position: relative;
      height: 248px;
      width: 100%;
      overflow: hidden;
      transition: all 1s ease-in-out;
      cursor: pointer;

      &-img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left;
      }

      &-text{
        position: absolute;
        z-index: 2;
        display: flex;
        gap: 24px;
        align-items: center;
        bottom: 6px;
        left: 20px;
      }

      &-number{
        font: 400 40px/1.1 $Cardo;
        color: $white;
      }

      &-paragraph{
        font: 400 20px/1.1 $Cardo;
        color: $white;
      }
    }

    &--gradient{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      background: #00000033;
      z-index: 1;
    }
  }

  &__mobile-button{
    width: 100%;
    padding: 0 20px;
    display: flex;
    margin: 32px auto 0 auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
  .hover-images{
    &__content{
      &--image-1, &--image-2{
        height: 600px;

        &-text{
          bottom: 20px;
          gap: 24px;
        }

        &-number{
          font: 400 100px/1.1 $Cardo;
          color: $white;
        }

        &-paragraph{
          font: 400 30px/1.1 $Cardo;
          color: $white;
        }
      }
    }
    &__mobile-button{
      justify-content: center;
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px){
  .hover-images{
    &__content{
      .button-iron{
        display: flex;
      }
      &--image-1, &--image-2{
        height: 500px;
      }
    }
  }
}

@media only screen and (min-width: 1024px){
  .hover-images{
    padding: 120px 0;

    .container:last-of-type{
      max-width: 1720px;
      padding: 0 20px;
      margin: 0 auto;
    }
    &__content{
      &--top{
        margin-bottom: 125px;
        .button-iron{
          display: flex;
        }

        &-text{
          max-width: 520px;
        }
      }
      &--bottom{
        flex-direction: row;
        gap: 60px;
      }
      &--image-1{
        height: 742px;
        width: 70%;

        &-text{
          bottom: 32px;
          gap: 24px;
        }

        &-number{
          font-size: 100px;
        }

        &-paragraph{
          font-size: 30px;
        }
      }
      &--image-2{
        height: 742px;
        width: 30%;

        &-text{
          bottom: 32px;
          gap: 24px;
        }

        &-number{
          font-size: 100px;
        }

        &-paragraph{
          font-size: 30px;
        }
      }
    }

    &__mobile-button{
      display: none;
    }
  }
}