@import "../../src/scss/general/variables";

.floors{
  position: relative;
  height: 1080px;
  display: flex;
  justify-content: center;
  overflow: hidden;

  &__bg{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__text{
    position: absolute;
    width: 990px;
    color: $white;
    bottom: -100%;
    right: 24px;
    font: 400 50px/1.1 $Cardo;
    transition: all 0.6s ease-in-out;
    text-transform: uppercase;
    text-align: end;
  }

  &__content{
   position: relative;
    height: 922px;
    width: 1268px;
    top: 20px;
    transition: all 0.3s ease-in-out;
  }

  &__floor-1{
    position: absolute;
    width: 90%;
    object-fit: cover;
    z-index: 5;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    transition: all 0.3s ease-in-out;
  }

  &__floor-2{
    position: absolute;
    width: 90%;
    object-fit: cover;
    z-index: 5;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    transition: all 0.3s ease-in-out;
  }

  &__floor-3{
    position: absolute;
    width: 90%;
    object-fit: cover;
    z-index: 5;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    transition: all 0.3s ease-in-out;
  }

  &__floor-4{
    position: absolute;
    width: 90%;
    object-fit: cover;
    z-index: 5;
    left: 50%;
    transform: translateX(-50%);
    bottom: 60px;
    transition: all 0.3s ease-in-out;
  }

  &__roof{
    position: absolute;
    width: 90%;
    object-fit: cover;
    z-index: 6;
    left: 50%;
    transform: translateX(-50%);
    bottom: 60px;
    transition: all 0.3s ease-in-out;
  }

  &__atrijum{
    position: absolute;
    width: 34%;
    object-fit: cover;
    z-index: 4;
    left: 50%;
    transform: translateX(-50%);
    bottom: 41%;
  }

  &__front-part{
    position: absolute;
    width: 681px;
    height: 702px;
    left: 198px;
    top: 272px;
    z-index: 7;
    &--path{
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }
  }


  &__left-part{
    position: absolute;
    //width: 640px;
    //height: 344px;
    //left: 27px;
    //top: 72px;
    width: 292px;
    height: auto;
    left: 205px;
    top: 81px;
    z-index: 7;
    &--path{
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }
  }

  &__right-part{
    position: absolute;
    //width: 700px;
    //height: 468px;
    //right: 27px;
    //top: 168px;
    width: 510px;
    height: auto;
    right: 124px;
    top: 177px;
    z-index: 7;

    &--path{
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }
  }

  &__back-part{
    position: absolute;
    width: 534px;
    height: 419px;
    right: 300px;
    top: 12px;
    z-index: 7;

    &--path{
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }
  }

  &__lamela--1{
    position: absolute;
    bottom: 18%;
    left: -2%;
    z-index: 8;
    display: flex;
    flex-direction: row-reverse;
    gap: 12px;
    pointer-events: auto;
    &-pin{
      cursor: pointer;
    }
    &-line{
      margin: 14px 0 9px 0;
    }
    &-info{
      display: flex;
      flex-direction: row-reverse;
      gap: 12px;
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }
    &-text{
      text-transform: uppercase;
      color: $white;
      align-self: end;
      font-size: 30px;
      font-weight: 700;
    }
  }
  &__lamela--1-mobile, &__lamela--2-mobile, &__lamela--3-mobile, &__lamela--4-mobile{
    position: absolute;
    z-index: 8;
    display: none;
    gap: 12px;
    pointer-events: auto;
    &-pin{
      cursor: pointer;
    }

    &-info{
      display: flex;
      flex-direction: row-reverse;
      gap: 12px;
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }
    &-text{
      text-transform: uppercase;
      color: $white;
      align-self: end;
      font-size: 14px;
      font-weight: 700;
    }
  }


  &__lamela--2{
    position: absolute;
    bottom: 63%;
    left: -4%;
    z-index: 8;
    display: flex;
    flex-direction: row-reverse;
    gap: 12px;
    pointer-events: auto;
    &-pin{
      cursor: pointer;
    }
    &-line{
      margin: 14px 0 9px 0;
    }
    &-info{
      display: flex;
      flex-direction: row-reverse;
      gap: 12px;
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }
    &-text{
      text-transform: uppercase;
      color: $white;
      align-self: end;
      font-size: 30px;
      font-weight: 700;
    }
  }

  &__lamela--3{
    position: absolute;
    bottom: 43%;
    right: -5%;
    z-index: 8;
    display: flex;
    flex-direction: row;
    gap: 12px;
    pointer-events: auto;
    &-pin{
      cursor: pointer;
    }
    &-line{
      margin: 14px 0 9px 0;
    }
    &-info{
      display: flex;
      flex-direction: row;
      gap: 12px;
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }
    &-text{
      text-transform: uppercase;
      color: $white;
      align-self: end;
      font-size: 30px;
      font-weight: 700;
    }
  }


  &__lamela--4{
    position: absolute;
    bottom: 71%;
    left: 51%;
    z-index: 8;
    display: flex;
    flex-direction: row;
    gap: 12px;
    pointer-events: auto;
    &-pin{
      cursor: pointer;
    }
    &-line{
      margin: 14px 0 9px 0;
    }
    &-info{
      display: flex;
      flex-direction: row;
      gap: 12px;
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }
    &-text{
      text-transform: uppercase;
      color: $white;
      align-self: end;
      font-size: 30px;
      font-weight: 700;
    }
  }

  &__informations{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 1095px;
    right: -100%;
    transition: all 0.3s ease-in-out;
  }

  &__info-1, &__info-2, &__info-3, &__info-4{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 24px;
    right: -100%;
    transition: all 0.5s ease-in-out;
    &--text{
      display: flex;
      flex-direction: column;
      align-self: end;
      gap: 12px;
      max-width: 618px;
    }
    &--title{
      text-transform: uppercase;
      color: $white;
      font: 400 64px/1.1 $Cardo;
    }

    &--paragraph{
      p{
        color: $white;
        font: 400 20px/1.3 $CeraPro;
      }
    }
  }
  &__info-1{
    top: 10%;
  }

  &__info-2{
    top: 27%;
  }

  &__info-3{
    top: 47%;

  }

  &__info-4{
    top: 65%;
  }
}


@media only screen and (max-width: 768px) {
  .floors{
    height: 700px;
    &__content{
      height: 315px;
      width: 360px;
      top: 30%;
    }

    &__text{
      font-size: 22px;
      //bottom: 381px;
      bottom: 20px;
      width: 90%;
      text-align: start;
      left: 50%;
      transform: translateX(-50%);
    }

    &__front-part{
      width: 221px;
      height: auto;
      left: 41px;
      top: 129px;

      &--path{
        transition: unset;
      }
    }

    &__left-part{
      width: 95px;
      height: auto;
      left: unset;
      right: 222px;
      top: unset;
      bottom: 170px;
      &--path{
        transition: unset;
      }
    }

    &__right-part{
      width: 166px;
      height: auto;
      right: unset;
      left: 178px;
      top: unset;
      bottom: 98px;
      &--path{
        transition: unset;
      }
    }

    &__back-part{
      width: 168px;
      height: auto;
      top: unset;
      right: 73px;
      bottom: 193px;
      &--path{
        transition: unset;
      }
    }

    &__floor-1{
      width: 100%;
    }
    &__floor-2{
      width: 100%;
      bottom: 10px;
    }

    &__floor-3{
      width: 100%;
      bottom: 20px;
    }
    &__floor-4{
      width: 100%;
      bottom: 30px;
    }
    &__roof{
      width: 100%;
      bottom: 30px;
    }
    &__atrijum{
      width: 39%;
    }

    &__lamela--1, &__lamela--2, &__lamela--3, &__lamela--4{
      display: none;
    }

    &__lamela--1-mobile, &__lamela--2-mobile, &__lamela--3-mobile, &__lamela--4-mobile{
      display: flex;
      opacity: 1;
      &-pin{
        width: 20px;
      }
      &-info{
        opacity: 1;
      }
    }

    &__front-part--path, &__left-part--path, &__right-part--path, &__back-part--path{
      opacity: 0.5;
    }

    &__lamela--1-mobile{
      bottom: unset;
      top: 64%;
      left: 27%;
      flex-direction: column;
      &-info{
        flex-direction: column;
      }
      &-line{
        margin-left: 8px;
      }
    }

    &__lamela--2-mobile{
      top: 40%;
      left: 74%;
      flex-direction: column;
      &-info{
        flex-direction: column;
      }
      &-line{
        margin-left: 8px;
      }
    }

    &__lamela--3-mobile{
      bottom: 66%;
      left: 20%;
      flex-direction: column-reverse;
      align-items: flex-start;
      &-info{
        flex-direction: column-reverse;
        align-items: center;
      }
      &-line{
        margin-right: 8px;
      }
    }

    &__lamela--4-mobile{
      bottom: 74%;
      left: 52%;
      flex-direction: column-reverse;
      align-items: flex-start;
      &-info{
        flex-direction: column-reverse;
        align-items: center;
      }
      &-line{
        margin-right: 8px;
      }
    }

    &__informations{
      //width: 55%;
      width: 200px;
      right: -200px;
      //right: 20px;
      //opacity: 0;
    }

    &__info-1, &__info-2, &__info-3, &__info-4{
      right: unset;
      width: 100%;
      //top: 0;
      //height: 50%;

      svg{
        display: none;
      }
      &--text{
        max-width: unset;
        gap: 6px;
      }
      &--title{
        font-size: 24px;
      }

      &--paragraph{
        p{
          font-size: 10px;
        }

      }
    }

    &__info-1{
      //opacity: 1;
      top: 14%;
    }
    &__info-2{
      //opacity: 0.4;
      top: 31%;
    }
    &__info-3{
      //opacity: 0.1;
      top: 51%;
    }
    &__info-4{
      //opacity: 0;
      top: 68%;
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 1023px) {
  .floors{

    &__text{
      width: 680px;
      bottom: 220px;
      text-align: start;
      font-size: 32px;
      left: 50%;
      transform: translateX(-50%);
    }
    &__content{
      height: 500px;
      width: 680px;
      top: 20%;
    }
    &__front-part{
      width: 362px;
      height: auto;
      left: 108px;
      top: 182px;
      &--path{
        transition: unset;
      }
    }

    &__left-part{
      width: 160px;
      height: auto;
      left: unset;
      right: 413px;
      top: unset;
      bottom: 292px;
      &--path{
        transition: unset;
      }
    }

    &__right-part{
      width: 279px;
      height: auto;
      right: unset;
      left: 335px;
      top: unset;
      bottom: 171px;
      &--path{
        transition: unset;
      }
    }

    &__back-part{
      width: 285px;
      height: auto;
      top: unset;
      right: 162px;
      bottom: 331px;
      &--path{
        transition: unset;
      }
    }

    &__lamela--1, &__lamela--2, &__lamela--3, &__lamela--4{
      display: none;
    }

    &__lamela--1-mobile, &__lamela--2-mobile, &__lamela--3-mobile, &__lamela--4-mobile{
      display: flex;
      opacity: 0;
      &-pin{
        width: 20px;
      }
      &-info{
        opacity: 1;
      }
    }

    &__lamela--1-mobile{
      bottom: 0;
      left: 200px;
      flex-direction: column;
      &-info{
        flex-direction: column;
      }
      &-line{
        margin-left: 8px;
      }
    }

    &__lamela--2-mobile{
      top: 180px;
      right: 115px;
      flex-direction: column;
      &-info{
        flex-direction: column;
      }
      &-line{
        margin-left: 8px;
      }
    }

    &__lamela--3-mobile{
      bottom: 375px;
      left: 165px;
      flex-direction: column-reverse;
      align-items: flex-start;
      &-info{
        flex-direction: column-reverse;
        align-items: center;
      }
      &-line{
        margin-right: 8px;
      }
    }

    &__lamela--4-mobile{
      bottom: 385px;
      left: 370px;
      flex-direction: column-reverse;
      align-items: flex-start;
      &-info{
        flex-direction: column-reverse;
        align-items: center;
      }
      &-line{
        margin-right: 8px;
      }
    }
    &__informations{
      right: -400px;
      width: 400px;
    }

    &__info-1, &__info-2, &__info-3, &__info-4{

      svg{
        display: none;
      }
      &--text{
        max-width: unset;
      }
      &--title{
        font-size: 28px;
      }

      &--paragraph{
        p{
          font-size: 14px;
        }
      }
    }

    &__info-1{
      position: absolute;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 24px;
      top: 10%;
      right: 0;
      transition: all 0.5s ease-in-out;
      opacity: 1;
    }

    &__info-2{
      position: absolute;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 24px;
      top: 23%;
      right: 0;
      transition: all 0.5s ease-in-out;
      opacity: 1;
    }

    &__info-3{
      position: absolute;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 24px;
      top: 37%;
      right: 0;
      transition: all 0.5s ease-in-out;
      opacity: 1;
    }

    &__info-4{
      position: absolute;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 24px;
      top: 50%;
      right: 0;
      transition: all 0.5s ease-in-out;
      opacity: 1;
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1640px) {
  .floors{
    &__content{
      height: 645px;
      width: 1000px;
      top: 15%;
    }

    &__atrijum{
      bottom: 46%;
    }
    &__text{
      text-align: start;
      width: 500px;
      font-size: 32px;
    }
    &__front-part{
      width: 549px;
      height: 661px;
      left: 155px;
      top: 71px;
    }

    &__left-part{
      width: 235px;
      height: 355px;
      left: 155px;
      top: unset;
      bottom: 368px;
    }

    &__right-part{
      width: 692px;
      height: 372px;
      right: unset;
      left: 357px;
      top: 37px;
    }

    &__back-part{
      width: 421px;
      height: 558px;
      top: unset;
      right: 237px;
      bottom: 285px;
    }

    &__lamela--1{
      bottom: 24%;
      left: 1%;
      &-line{
        width: 120px;
        margin: 0;
      }
      &-text{
        font-size: 24px;
      }
    }
    &__lamela--2{
      bottom: 68%;
      left: 0;
      &-line{
        width: 120px;
        margin: 0;
      }
      &-text{
        font-size: 24px;
      }
    }

    &__lamela--3{
      bottom: 58%;
      right: 0;
      &-line{
        width: 120px;
        margin: 0;
      }
      &-text{
        font-size: 24px;
      }
    }

    &__lamela--4{
      bottom: 81%;
      left: 52%;
      &-line{
        width: 120px;
        margin: 0;
      }
      &-text{
        font-size: 24px;
      }
    }

    &__informations{
      width: 100%;
    }
    &__info-1, &__info-2, &__info-3, &__info-4{
      width: 60%;
      &--text{
        max-width: 65%;
      }
      &--title{
        font-size: 56px;
      }
      &--paragraph{
        p{
          font-size: 16px;
        }
      }
    }

    &__info-2{
      top: 24%;
    }
    &__info-3{
      top: 38%;
    }
    &__info-4{
      top: 52%;
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1400px) {
  .floors{
    &__text{
      width: 32%;
      font-size: 24px;
    }
  }
}