@import "../../src/scss/general/variables";

.text-image-button{
  padding: 125px 0 0;

  &__content{
    background-color: $primary;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 52px 20px 52px 20px;
    border-radius: 24px;
    flex-direction: column;
    gap: 37px;
    box-shadow: 11px 14px 14.3px 0px #00000040;

    &-text{
      width: 100%;
      color: $white;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    &-img{
      width: auto;
      height: 40px;
    }

    .button-iron{
      align-self: center;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .text-image-button{
    &__content{
      &-img{
        width: auto;
        height: 52px;
      }

      .button-iron{
       align-self: start;
      }
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1320px) {
  .text-image-button{
    &__content{
      padding: 32px 38px 32px 50px !important;

      &-text{
        width: 350px !important;
      }

      &-img{
        height: 45px !important;
      }

      .button-iron{
        width: 274px !important;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .text-image-button{
    &__content{
      padding: 43px 52px 43px 80px;
      flex-direction: row;
      align-items: center;
      gap: unset;

      &-text{
        width: 480px;
      }

      &-img{
        width: auto;
        height: 66px;
      }

      .button-iron{
        width: 274px;
        align-self: center;
      }
    }
  }
}
