@import "../../src/scss/general/variables";

//h1 {
//  font: 700 50px/1.1 $malloryMedium;
//
//}
//
//h2 {
//  font: 500 32px/1.1 $malloryMedium;
//}
//
//
//h3 {
//  font: 400 24px/1.1 $malloryBook;
//  color: $primary;
//}
//
//h4, .accordion__heading, .accordion__content, #careersFromSelect, #careerGroupInput, #label-cv, #label-cv_free, #careersCheckBoxGroup, #careersCheckBoxGroup, .careers__form_information, .custom-checkbox, #careerSubmit #careerSubmitfree {
//  font: 400 16px/1.1 $malloryBook;
//  color: $primaryDarkest;
//}
//
//#careerSubmit, #careerSubmitfree  {
//  color: $white !important;
//}
//
//h3-static {
//  font: 400 32px/1.1 $malloryBook;
//}
//
//p {
//  font: 400 16px/1.3 $malloryBook;
//}
//
//
//#careers, #careersFree {
//  select, input, #dropZone, #dropZonefree {
//    margin-bottom: 10px;
//    padding: 24px;
//    border-radius: 20px !important;
//    border: 1px solid var(--DA-medium, #8799A8) !important;
//    background: var(--WHITE, #FFF) !important;
//  }
//  placeholder{
//    color: grey;
//  }
//}
//
//#careers, #careersFree {
//  //input {
//  //  margin: 6px 0 19px 0;
//  //}
//
//  input::placeholder {
//    color: $primaryMedium !important;
//  }
//  label {
//    padding: 0 0 5px 24px;
//    margin-bottom: 5px;
//    font-family: 'Mallory-Book' !important;
//  }
//
//  #label-terms, #label-termsfree{
//      padding: 0;
//      font-family: 'Mallory-Book' !important;
//    }
//
//  #careersFromSelect {
//    option:disabled {
//      color: $primaryMedium !important;
//    }
//  }
//
//  .careers__accordion_wrapper, #formSubheadingFreeHide{
//    margin-bottom: 48px;
//  }
//
//  #cvText, #cvExtension, #cvTextfree, #cvExtensionfree{
//    color: $primaryMedium !important;
//  }
//  .inputs-1{
//    .careers__group:last-child{
//      margin-top: 25px;
//    }
//  }
//
//}
//
//#careerGroupSelect{
//  label{
//    padding: 0;
//  }
//}
//
//label[for="careersFromSelect"] {
//  min-width: 100%;
//  padding: 0;
//}
//
//.group-label{
//  display: inline !important;
//}
//
//.accordion__heading{
//  padding: 15px 0px 15px 0;
//}
//
//#accordionWrapper.accordion__item {
//  border-bottom: 2px solid $primaryDILight !important;
//}
//
//#careers .success_message {
//  border: 1px solid $primary !important;
//  background-color: $primaryDILight !important;
//  opacity: 0;
//  transition: opacity 250ms ease-in;
//  transition-delay: 100ms;
//}
//
//#careers .careers__container{
//  max-width: none !important;
//}
//
//#display_error {
//  font-family: 'Mallory-Book' !important;
//
//}
//
//.careers__checkbox_group a, .group-label>a{
//  color: $primary !important;
//}
//
//.careers__form_information {
//  margin: 24px 0 0 0;
//}
//
//
//@media only screen and (min-width: 769px) {
//  h1 {
//    font-size: 96px;
//  }
//  h2 {
//    font-size: 46px;
//  }
//  h3 {
//    font-size: 28px;
//  }
//  #careers .careers__container, #careersFree{
//    padding-top: 60px !important;
//    padding-bottom: 60px !important;
//  }
//  .selectForPosition{
//    width: 100% !important;
//  }
//}
//
//
//@media only screen and (min-width: 1024px) {
//
//  #careers__container_form_free_id, .selectForPosition{
//    width: 100% !important;
//  }
//
//}
//@media only screen and (min-width: 1280px) {
//  h1 {
//    font-size: 128px;
//  }
//  h2 {
//    font-size: 64px;
//  }
//
//  h3 {
//    font-size: 32px;
//  }
//}
//
//@media only screen and (max-width: 768px) {
//
//  #careers .careers__container, #careersFree{
//    //max-width: 680px !important;
//    //margin: auto !important;
//    padding: 30px 20px !important;
//  }
//
//  .selectForPosition{
//    width: 100% !important;
//  }
//}
//
//
//@media only screen and (max-width: 1024px) {
//  #careersFree {
//    .inputs-1 {
//      .careers__group:last-child {
//        margin-top: 0px;
//      }
//    }
//  }
//}