@import "../../src/scss/general/variables";

.hero {
  //margin-top: -32px;
  &__breadcrumb {
    visibility: hidden;
  }

  &__mobile-pdf-btn{
    display: block;
    width: 174px;

    a{
      font-family: "Mallory-Book";
      font-size: 12px;
      background-color: #DFEEF8;
      color: $primary;
      border: 1px solid #5EA9DE;
      border-radius: 12px;
      padding: 10px 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  }

  &__pdf-btn{
    display: none;
  }

  &__main {
    position: relative;
    height: 530px;
    //padding: 120px 0 48px;
    color: $white;
    overflow: hidden;
  }

  &__image,
  &__video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    &--mobile {
      z-index: 2;
    }

    &-desktop {
      z-index: 1;
    }
    &-position-center{
      object-position: center;
    }
    &-position-bottom{
      object-position: bottom;
    }
  }

  &__gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    linear-gradient(180deg, rgba(0, 0, 0, 0) 60.7%, rgba(0, 0, 0, 0.6) 100%),
    linear-gradient(360deg, rgba(0, 0, 0, 0) 82.37%, rgba(0, 0, 0, 0.5) 100%);
    opacity: 0.5;
    z-index: 3;

  }

  &__full-gradient {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(38, 75, 89, 0.67);
    background-blend-mode: multiply;
    z-index: 3;
  }

  .container {
    order: 1;
    position: relative;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    //justify-content: space-between;
    z-index: 4;
    justify-content: center;
    align-items: center;
  }

  .social {
    order: 2;
    position: relative;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    z-index: 4;
  }

  &__breadcrumb {
    span {
      display: grid;
      grid-template-columns: 1fr;
      gap: 6px;

      a,
      .breadcrumb_last {
        font: 400 12px/1 $malloryBook;
        text-transform: uppercase;
      }

      a {
        color: $white;
        opacity: 0.5;
      }

      .breadcrumb_last {
        color: $white;
      }
    }
  }

  &__tagline {
    margin-bottom: 6px;
  }

  .btn {
    margin-top: 24px;
  }

  &__socials{
    display:flex;
    justify-content: center;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
  }
  &__socials--container{
    font: 400 14px/1 $malloryBook;
    position:relative;
    display: grid;
    grid-template-columns: 150px 1fr;
    gap:20px;
    margin:5px 0;
  }
  &__socials--icons{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right:10px;
    .icons {
      position: relative;
      display: flex;
      gap: 20px;

      a{
        padding:2px 3px;
        margin:0 3px;
        &:hover{
          opacity:0.5;
        }
      }
      img{
        display:inline-block;
        filter: invert(100%) brightness(1000%);
      }
    }
  }

  &__description {
    padding: 48px 0;

    &-banner {
      margin-bottom: 24px;
    }

    &-logo {
      display: block;
      margin-bottom: 12px;
      width: 114px;
      height: 42px;
      object-fit: contain;
      object-position: left;
    }

    &-socials {
      display: flex;
      align-items: center;
      gap: 24px;
    }

    &-social {
      img {
        display: block;
        width: 34px;
        height: 34px;
      }
    }

    &-paragraphs {
      color: $primary;
    }

    &-paragraph {
      margin-bottom: 24px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &--two {
      .hero__description-paragraphs {
        &--one {
          margin-bottom: 24px;
        }
      }
    }
  }

  &__logo{
    width: 260px;
    height: auto;
    object-fit: cover;
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .hero {
    &__main {
      height: 100vh;
      max-height: 1080px;
    }

    &__mobile-pdf-btn{
      display: none;
    }

    &__pdf-btn{
      align-content: end;
      display: grid;
      justify-content: flex-end;
  
      a{
        font-family: "Mallory-Book";
        font-size: 12px;
        background-color: #DFEEF8;
        color: $primary;
        border: 1px solid #5EA9DE;
        border-radius: 12px;
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }
    }

    &__image,
    &__video {
      &--mobile {
        display: none;
      }
    }

    &__logo{
      width: 440px;
      height: auto;
      object-fit: cover;
      display: none;
    }

    &__breadcrumb {
      span {
        display: flex;

        span {
          &::after {
            content: '/';
            font: 400 14px/1 $malloryBook;
            color: $white;
            opacity: 0.5;
          }
        }

        a,
        .breadcrumb_last {
          font-size: 14px;
        }

        .breadcrumb_last {
          &::after {
            display: none;
          }
        }
      }
    }

    &__content {
      display: grid;
      grid-template-columns: 2fr 370px;
      .inline{
        display:inline;
      }
    }

    &__text {
      flex: 1;
      align-self: end;
    }

    &__socials{
      bottom: 45px;
    }
    &__socials--container{
    }
    &__socials--icons{
      .icons {
        gap: 36px;

        a{
          padding:2px 3px;
          margin:0 3px;
          &:hover{
            opacity:0.5;
          }
        }
        img{
          display:inline-block;
          filter: invert(100%) brightness(1000%);
        }
      }
    }


    &__description {
      .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 48px;
      }

      &-banner {
        order: 2;
      }

      &-paragraphs {
        order: 1;
      }

      &-logo {
        margin-left: auto;
      }

      &-socials {
        justify-content: flex-end;
      }

      &-social {
        img {
          width: 24px;
        }
      }
    }
  }
}
