@import "../../src/scss/general/variables";



.homepage-animation-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  //animation: homeAnimationContainerSlideUp 2s 4.5s forwards;
  animation: homeAnimationContainerSlideUp 3.5s 3.5s forwards;
  background: linear-gradient(270deg, #6A9AC2 0%, #02294E 100%);
  //z-index: 99999;
  z-index: 995;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  //padding-top: 50px;


  .homepage-animation-container__content {
    width: 440px;
    //max-height: 750px;
    //width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .homepage-animation-container__content--icon {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .homepage-animation-container__content--logo {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      //opacity: 0;
      //animation: logoFadeIn 2s 1.5s forwards;
      gap: 24px;
    }

    .delta-iron-animation-logo{
      width: 120px;
      transform: scale(0);
      animation: logoFadeIn 1s 1.5s forwards;
    }

    .delta-iron-animation-logo--div{
      position: relative;
      width: 440px;
      height: 38px;
      overflow: hidden;
      &-letters-1{
        position: absolute;
        bottom: -100%;
        width: 100%;
        height: 100%;
        animation: lettersFadeIn 1s 1.5s forwards;
        animation-delay: 2s;
      }
    }

    .delta-iron-animation-logo--div-2{
      position: relative;
      width: 267px;
      height: 23px;
      overflow: hidden;
      &-letters-2{
        position: absolute;
        bottom: -100%;
        width: 100%;
        height: 100%;
        animation: lettersFadeIn 1s 1.5s forwards;
        animation-delay: 3s;
      }
    }
  }
}

@media (max-width: 1024px) {
  //.homepage-animation-container {
    .delta-iron-animation-logo{
      width: 71px;
    }

    .delta-iron-animation-logo--div{
      width: 260px;
      height: 22px;
    }

    .delta-iron-animation-logo--div-2{
      width: 157px;
      height: 13px;
    }
  //}
}

@media (max-width: 768px) {
  .homepage-animation-container {
    .homepage-animation-container__content {
      max-width:80%;
      max-height:80%;
      flex-direction: column;
      .homepage-animation-container__content--icon {
        height:70%;
      }
      .homepage-animation-container__content--logo {
        height:30%;
        margin-top:40px;
        align-items: center;
      }

      .delta-iron-animation-logo{
        width: 71px;
      }

      .delta-iron-animation-logo--div{
        width: 260px;
        height: 22px;
      }

      .delta-iron-animation-logo--div-2{
        width: 157px;
        height: 13px;
      }
    }
  }
}
@keyframes logoFadeIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes lettersFadeIn {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0;
  }
}

@keyframes homeAnimationContainerSlideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-110%);
  }
}