@import "../../src/scss/general/variables";

.animation-hero {
  &__main {
    position: relative;
    height: 530px;
    padding: 120px 0 48px;
    color: black;
    overflow: hidden;
  }

  &__letters{
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

  &__box-1{
    position: relative;
    overflow: hidden;
    height: 173px;
    width: 30%;

    &-bg{
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
      z-index: 1;
      background-repeat: no-repeat;
      background-position: center;
    }

    &-letter{
      width: 100%;
      height: auto;
      position: relative;
      top: 0;
      z-index: 2;
    }

    &--animated-path{
      transform: translateY(100%);
      animation: transformPath 1s ease-out forwards;
    }
  }

  &__box-2 {
    position: relative;
    overflow: hidden;
    height: 173px;
    width: 40%;

    &-bg{
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &-letter{
      width: 100%;
      height: auto;
      position: relative;
      top: 0;
      z-index: 2;
    }

    &--animated-path{
      transform: translateY(100%);
      animation: transformPath 1s ease-out forwards;
      animation-delay: 0.2s;
    }
  }

  &__box-3 {
    position: relative;
    overflow: hidden;
    height: 173px;
    width: 30%;

    &-bg{
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    &-letter{
      width: 100%;
      height: auto;
      position: relative;
      top: 0;
      z-index: 2;
    }


    &--animated-path{
      transform: translateY(100%);
      animation: transformPath 1s ease-out forwards;
      animation-delay: 0.4s;
    }
  }

  &__content{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 24px;
    //height: 180px;
    overflow: hidden;
  }

  &__heading{
    background: linear-gradient(90deg, #003964 0%, #013A65 14.84%, #08406B 30.36%, #144B76 41.65%, #255B85 50.21%, #3B6F98 61.32%, #5688B0 71.47%, #76A5CC 89.02%, #7BAAD1 95.28%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    line-height: 0.7;
    font-size: 50px;
    display: inline-block;
    clip-path: inset(100% 0 0 0);
    animation: textAnimation 1s ease-out forwards;
    animation-delay: 1s;
  }

  &__text{
      align-self: start;
      min-height: unset;
      display: flex;
    align-items: flex-start;
    color: $primary;
    clip-path: inset(100% 0 0 0);
    animation: textAnimation 1s ease-out forwards;
    animation-delay: 1.2s;
  }

}

@keyframes textAnimation {
  0% { clip-path: inset(100% 0 0 0); }
  100% { clip-path: inset(0 0 0 0); }
}

@keyframes transformPath {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}



@media only screen and (max-width: 768px) {
  .animation-hero{
    &__letters{
      gap: 24px;
    }

    &__box-1{
      height: auto !important;
      width: 30% !important;

      &-bg{
        width: 100%;
        height: 93%;
      }

      svg{
        transform: scale(1.01);
      }
    }
    &__box-2{
      height: auto !important;
      width: 40% !important;

      &-bg{
        width: 100%;
        height: 93%;
      }
    }

    &__box-3{
      height: auto !important;
      width: 30% !important;

      &-bg{
        width: 100%;
        height: 93%;
      }

      svg{
        transform: scale(1.01);
      }
    }
  }
  }

@media only screen and (max-width: 1280px) {
  .animation-hero{
    &__heading{
      line-height: unset !important;
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .animation-hero{
    &__letters{
      gap: 75px;
    }

    &__box-1{
      height: auto !important;
      width: 30% !important;

      &-bg{
        width: 100%;
        height: 96%;
      }

      svg{
        transform: scale(1.005);
      }
    }
    &__box-2{
      height: auto !important;
      width: 40% !important;

      &-bg{
        width: 100%;
        height: 96%;
      }
    }

    &__box-3{
      height: auto !important;
      width: 30% !important;

      &-bg{
        width: 100%;
        height: 96%;
      }

      svg{
        transform: scale(1.005);
      }
    }
  }
}

@media only screen and (min-width: 1024px) {

  .animation-hero {
    &__main {
      height: 100vh;
      max-height: 816px;
    }

    &__letters{
      gap: 75px;
    }



    &__box-1{
      height: 385px;
      width: 372px;

      svg{
        display: block;
        width: 100%;
        height: auto;
      }
    }

    &__box-2 {
      height: 385px;
      width: 500px;

      svg{
        display: block;
        width: 100%;
        height: auto;
      }
    }

    &__box-3 {
      height: 385px;
      width: 372px;

      svg{
        display: block;
        width: 100%;
        height: auto;
      }
    }

    &__content{
      display: flex;
      flex-direction: row;
      gap: 48px;
      height: 130px;
    }

    &__heading{
      line-height: 1.1;
      font-size: 96px;
      //transform: translateY(100%);
      //animation: transformText 1s ease-out forwards;
      //animation-delay: 1s;
    }

    &__text{
      align-self: center;
      min-height: 130px;
      display: flex;
      align-items: center;
      //transform: translateY(100%);
      //animation: transformText 1s ease-out forwards;
      //animation-delay: 1.2s;
    }

  }

  //@keyframes transformText {
  //  0% {
  //    transform: translateY(100%);
  //  }
  //  100% {
  //    transform: translateY(0);
  //  }
  //}
}
