@import "../../src/scss/general/variables";

.centralni-atrijum{
  position: relative;
  overflow: hidden;
  padding-bottom: 268px;

  &__img{
    position: absolute;
    width: 100%;
    height: 268px;
    bottom: 0;
    object-fit: cover;
  }

  &__mask{
    position: absolute;
    top: 30px;
    right: -140px;
    width: 85%;
  }

  &__content{
    display: flex;
    flex-direction: column-reverse;
    gap: 88px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;

    .button-iron{
      align-self: center;
      display: none;
    }

    &-text{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 28px;
      color: $primary;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  .centralni-atrijum {
    padding-bottom: 569px;

    &__img {
      height: 569px;
    }
    &__content{
      gap: 48px;
    }

    &__mask{
      width: 50%;
      top: 0;
      right: -115px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .centralni-atrijum{
    position: relative;
    overflow: hidden;
    padding-bottom: 857px;

    &__img{
      position: absolute;
      width: 100%;
      height: 857px;
      bottom: 0;
      object-fit: cover;
    }

    &__mask{
      position: absolute;
      top: 90px;
      right: 0;
      width: unset;
    }

    &__content{
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 100px;
      gap: unset;

      .button-iron{
        align-self: start;
        display: flex;
      }

      &-text{
        width: 625px;
        display: flex;
        flex-direction: column;
        gap: 28px;
        color: $primary;
      }
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1250px) {
  .centralni-atrijum{
    &__mask{
      top: 70px;
      width: 60%;
    }
  }
}