@import "../../src/scss/general/variables";

.odrzivost_animation {
  position: relative;
  height: 100%;
  padding: 68px 0;

  &__img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    object-fit: cover;
  }
  .container{
    position: relative;
  }

  &__text{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto 152px;
  }

  &__title{
    font-size: 40px;
    color: $white;
    text-align: center;
  }

  &__content{
    width: 100%;
    display: flex;
    flex-direction: column;

    &-row{
      width: 70%;
      max-width: 1200px;
    }

    &-img{
      width: 117px;
    }
    &-text{
      display: flex;
      gap: 28px;

      &-svg{
        display: block;
      }
      &-svg-mobile{
        display: none;
      }
    }
    &-title{
      font-size: 32px;
      color: $white;
    }
    &-paragraph{
      font-size: 16px;
      color: $white;
    }

    &--geotermalne-sonde{
      margin-left: 145px;
      display: flex;
      align-items: flex-start;
      height: 245px;

      &-content{
        width: 100%;
        clip-path: inset(0 100% 0 0);
        display: flex;
        gap: 28px;
        padding-top: 50px;
      }
      &-svg{
        margin-top: 36px;
      }
      .odrzivost_animation__content-text{
        align-self: start;
      }
      .odrzivost_animation__content-img{
        align-self: end;
      }
      .odrzivost_animation__content-title{
        max-width: 215px;
        align-self: start;
      }
      .odrzivost_animation__content-paragraph{
        max-width: 420px;
      }
    }

    &--reciklirani-materijali{
      margin-left: 415px;
      margin-bottom: 205px;
      display: flex;
      align-items: flex-start;
      height: 245px;

      &-content{
        width: 100%;
        clip-path: inset(0 100% 0 0);
        display: flex;
        gap: 28px;
        padding-top: 50px ;
      }
      &-svg{
        margin-top: 36px;
      }
      .odrzivost_animation__content-text{
        align-self: start;
      }
      .odrzivost_animation__content-img{
        align-self: end;
      }
      .odrzivost_animation__content-title{
        max-width: 130px;
      }
      .odrzivost_animation__content-paragraph{
        max-width: 510px;
      }
    }

    &--zeleni-parking{
      margin-left: 525px;
      margin-bottom: 205px;
      display: flex;
      align-items: flex-start;
      height: 150px;
      gap: 28px;

      &-content{
        width: 100%;
        clip-path: inset(0 100% 0 0);
        display: flex;
        gap: 28px;
        padding-top: 50px ;
      }
      &-svg{
        margin-top: 36px;
      }
      .odrzivost_animation__content-text{
        align-self: start;
      }
      .odrzivost_animation__content-img{
        align-self: end;
      }
      .odrzivost_animation__content-title{
        max-width: 130px;
      }
      .odrzivost_animation__content-paragraph{
        max-width: 510px;
      }
    }

    &--solarni-omotac{
      margin-left: 415px;
      display: flex;
      align-items: flex-start;
      height: 240px;

      &-content{
        width: 100%;
        clip-path: inset(0 100% 0 0);
        display: flex;
        gap: 28px;
        align-self: end;
        padding-bottom: 30px;
      }
      &-svg{
        //margin-top: 16px;
      }
      .odrzivost_animation__content-text{
        align-self: start;

        //svg{
        //  align-self: center;
        //}
      }
      .odrzivost_animation__content-img{
        align-self: start;
      }
      .odrzivost_animation__content-title{
        max-width: 130px;
      }
      .odrzivost_animation__content-paragraph{
        max-width: 510px;
      }
    }


    &--smart-sistemi{
      margin-left: 145px;
      display: flex;
      align-items: flex-start;
      height: 240px;

      &-content{
        width: 100%;
        clip-path: inset(0 100% 0 0);
        display: flex;
        gap: 28px;
        align-self: end;
        padding-bottom: 30px;
      }
      &-svg{
        //margin-top: 36px;
      }
      .odrzivost_animation__content-text{
        align-self: start;
      }
      .odrzivost_animation__content-img{
        align-self: start;
      }
      .odrzivost_animation__content-title{
        max-width: 130px;
      }
      .odrzivost_animation__content-paragraph{
        max-width: 420px;
      }
    }
  }

  @keyframes reveal {
    from {
      clip-path: inset(0 100% 0 0);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
  }

  @keyframes revealBack {
    from {
      clip-path: inset(0 0 0 0);
    }
    to {
      clip-path: inset(0 100% 0 0);
    }
  }
}

@media screen and (min-width: 1370px) and (max-width: 1720px) {
  .odrzivost_animation {
    &__content {

      &--solarni-omotac {
        //margin-left: 0;
        margin-left: 270px;

        &-content{
          padding-bottom: 0;
        }
        &-svg{
          width: 220px;
        }
        .odrzivost_animation__content-paragraph{
          max-width: 300px;
        }
      }


      //&--smart-sistemi {
      &--smart-sistemi {
        //margin-left: 270px;
        margin-left: 0;

        &-svg{
          width: 220px;
        }
        .odrzivost_animation__content-paragraph{
          max-width: 300px;
        }
      }

      &--zeleni-parking {
        margin-left: 380px;

        &-svg{
          width: 220px;
        }
        .odrzivost_animation__content-paragraph{
          max-width: 300px;
        }
      }

      &--geotermalne-sonde {
        margin-left: 0;
        &-svg{
          width: 220px;
          margin-top: 56px;
        }
        .odrzivost_animation__content-text{
          svg{
            align-self: center;
          }
        }
        .odrzivost_animation__content-title{
          align-self: center;
        }
        .odrzivost_animation__content-paragraph{
          max-width: 400px;
        }
      }


      &--reciklirani-materijali {
        //margin-left: 0;
        margin-left: 270px;
        &-svg{
          width: 220px;
        }
        .odrzivost_animation__content-paragraph{
          max-width: 300px;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1370px) {
  .odrzivost_animation {
    &__content {
      &-row{
        width: 80%;
        max-width: 800px;
      }
      &-title{
        font-size: 28px;
      }
      &-paragraph{
        font-size: 14px;
      }

      //&--solarni-omotac {
      &--geotermalne-sonde {
        margin-left: 0;
        width: 90%;
        max-width: 1000px;
        &-svg{
          width: 160px;
        }
        .odrzivost_animation__content-title{
          //align-self: center;
          max-width: 170px;
        }
        .odrzivost_animation__content-paragraph{
          max-width: 350px;
        }
      }

      &--reciklirani-materijali {
        margin-left: 120px;

        &-svg{
          width: 160px;
        }
        .odrzivost_animation__content-title{
          max-width: 160px;
        }
        .odrzivost_animation__content-paragraph{
          max-width: 250px;
        }
      }

      &--zeleni-parking {
        margin-left: 180px;

        &-svg{
          width: 160px;
        }
        .odrzivost_animation__content-paragraph{
          max-width: 250px;
        }
      }

      &--solarni-omotac {
        margin-left: 120px;
        &-svg{
          width: 160px;
          margin-top: 62px;
        }
        .odrzivost_animation__content-text{
          svg{
            align-self: center;
          }
        }
        .odrzivost_animation__content-title{
          max-width: 100px;
          align-self: center;
        }
        .odrzivost_animation__content-paragraph{
          max-width: 250px;
        }
      }


      &--smart-sistemi {
        margin-left: 0;
        &-svg{
          width: 160px;
        }
        .odrzivost_animation__content-title{
          max-width: 100px;
        }
        .odrzivost_animation__content-paragraph{
          max-width: 250px;
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .odrzivost_animation {
    height: 800px;
    overflow: hidden;
    padding: 0 0 64px;
    &__scroll{
      max-height: 800px;
      overflow-y: auto;
    }
    &__text{
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      //margin: 0 auto 152px;
    }

    &__title{
      font-size: 28px;
    }
    &__content {
      overflow-y: auto;
      gap: 150px;
      &-text{
        flex-direction: column;
        text-align: center;
        gap: 16px;
        &-svg{
          display: none;
        }
        &-svg-mobile{
          display: block;
          align-self: center;
        }
      }
      &-row{
        width: 100%;
        max-width: unset;
      }
      &-img{
        align-self: center !important;
      }
      &-title{
        font-size: 28px;
      }
      &-paragraph{
        font-size: 14px;
      }


      &--geotermalne-sonde {
        margin: 0;
        //height: 100vh;
        height: 50vh;
        flex-direction: column;
        justify-content: center;
        gap: 16px;

        &-content{
          padding-top: 0;
          clip-path: unset;
        }
        &-svg{
          display: none;
        }
        .odrzivost_animation__content-title{
          max-width: unset;
          align-self: center;
        }
        .odrzivost_animation__content-paragraph{
          max-width: unset;
        }
      }

      &--reciklirani-materijali {
        margin: 0;
        //height: 100vh;
        height: 50vh;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
        &-content{
          padding-top: 0;
          clip-path: unset;
        }
        &-svg{
          display: none;
        }
        .odrzivost_animation__content-title{
          max-width:unset;
        }
        .odrzivost_animation__content-paragraph{
          max-width:unset;
        }
      }

      &--zeleni-parking {
        margin: 0;
        //height: 100vh;
        height: 50vh;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
        &-content{
          padding-top: 0;
          clip-path: unset;
        }
        &-svg{
          display: none;
        }
        .odrzivost_animation__content-title{
          max-width:unset;
        }
        .odrzivost_animation__content-paragraph{
          max-width:unset;
        }
      }

      &--solarni-omotac {
        margin: 0;
        //height: 100vh;
        height: 50vh;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
        &-content{
          padding-top: 0;
          clip-path: unset;
        }
        &-svg{
          display: none;
        }
        .odrzivost_animation__content-text{
          svg{
            align-self: center;
          }
        }
        .odrzivost_animation__content-title{
          align-self: center;
          max-width: unset;
        }
        .odrzivost_animation__content-paragraph{
          max-width: unset;
        }
      }


      &--smart-sistemi {
        margin: 0;
        //height: 100vh;
        height: 50vh;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
        &-content{
          padding-top: 0;
          clip-path: unset;
        }
        &-svg{
          display: none;
        }
        .odrzivost_animation__content-title{
          max-width: unset;
        }
        .odrzivost_animation__content-paragraph{
          max-width: unset;
        }
      }
    }
  }
}