/*
  Fonts Variables
 */


$malloryBook: 'Mallory-Book', sans-serif;
$malloryMedium: 'Mallory-Medium', sans-serif;
$malloryBold: 'Mallory-Bold', sans-serif;

$Cardo: "Cardo", serif;
$CeraPro: "Cera-Pro", serif;



/*
  Colors Variables
 */

$primary: #01284D;
$primaryLight: #6A9AC2;
$primaryLightest: #E1EBF3;
$primaryDILight: #EDF5FC;

$primaryDarkest: #263068;
$primaryDark: #506973;
$primaryMedium: #8799A8;
$secondary: #1C75BC;
$grey: #8B8B8B;
$black: #222222;
$white: #FFFFFF;

$redPin: #D82F24;
$yellowPin: #FFCC4E;
$lightBluePin: #6A9AC2;
$bluePin: #01284D;


/*
  Accent Colors
*/

$accent:  #5EA9DE;