@import "./main";

.site {
  background: $white;
}

.hero {
  &__description {
    &-paragraphs {
      color: $primaryDarkest;
    }
  }
}

.posts {
  padding: 48px 0;

  &__filters {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
    padding: 12px 0;
    overflow-x: auto;
    margin-bottom: 64px;
    :last-child{
      //margin-left:auto;
      &:after{
        margin-left: 0 !important;
      }
    }
  }



  &__filter {
    &--all{
      font: 400 14px/1.4 $malloryMedium;
      color: $white;
      white-space:nowrap;
      letter-spacing: 0.7px;
      text-transform: uppercase;
      cursor: pointer;
      opacity: 1;
      transition: all 400ms ease-in-out;
    }

  }

  &__list {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin: 0 auto;
  }

  &__item {
    width: 450px;
    height: 242px;
    margin: 0 auto;
  }

  &__pagination {
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

    .page-numbers {
      font: 400 16px/1 $malloryBook;
      color: $primaryDark;
      text-transform: uppercase;
      padding: 6px;

      &.prev,
      &.next {
        font-size: 14px;
        color: $white;
      }

      &.prev {
        margin-right: 18px;
      }

      &.next {
        margin-left: 18px;
      }
      &.current {
        color: $secondary;
      }
    }
  }

  .card-blue{

    &__info{
      justify-content: space-between;
    }
    &__visible{
      display: block;
    }
    &__date-up{
      display: none;
      margin-bottom: 0;
    }
  }
}


@media only screen and (min-width: 768px) {
  .posts {
    &__list {
      grid-template-columns: auto auto;
    }

  }
}

@media only screen and (min-width: 1024px) and (max-width: 1320px) {
  .posts {
    &__item {
      height: 350px !important;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .posts {
    &__item {
      width: 100%;
      height: 352px;
      margin: unset;
    }
    }
}

@media only screen and (max-width: 500px) {
  .posts {
    &__item {
      width: 100%;
      height: 242px;
    }
  }
}


@media only screen and (min-width: 1024px) {
  .posts {
    padding: 120px 0;

    &__filters {
      margin-bottom: 80px;
    }

    &__item{
      width: calc(50% - (12px / 2));
      height: 462px;
      margin: unset;
    }

    &__list {
      gap: 12px;
    }

  }
}
