@import "./main";

.site {
  background: $primaryDarkest;
}

.hero {
  &__description {
    &-paragraphs {
      color: $white;
    }
  }
}

.history {
  padding: 120px 0;

  .container {
    position: relative;
  }

  &__timeline {
    position: absolute;
    left: 32px;
    width: 100%;
    height: 2px;
    background: $white;
  }

  &__list {
    display: flex;
    //grid-template-columns: 1fr;
  }

  &__item {
    position: relative;
    display: flex;
    //padding-left: 34px;
    //padding-bottom: 48px;

    &-invisible {
      display: none;
    }

    &-loader {
      position: absolute;
      top: 0;
      left: 12px;
      width: 2px;
      height: 0;
      background: $secondary;
      transition: all 1s ease-in-out;
    }

    &-dot {
      position: absolute;
      top: 0;
      left: 0;

      .circle-big,
      .circle-small {
        transition: all 1s ease-in-out;
      }
    }

    &-year {
      color: $secondary;
      margin-bottom: 24px;
    }

    &-img {
      width: 166px;
      height: 170px;
      //aspect-ratio: 3/2;
      object-fit: cover;
      border-radius: 16px;
      margin-bottom: 24px;
      box-shadow: 0px 16px 24px 0px;
    }

    &-paragraphs {
      color: $white;

      &-hidden {
        overflow: hidden;
        max-height: 0;
        transition: 550ms ease-in-out;

        &-inner {
          opacity: 0;
          margin-top: 24px;
          transition: 550ms ease-in-out;
        }

        &.visible {
          .history {
            &__item {
              &-paragraphs {
                &-hidden {
                  &-inner {
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
      }
    }

    &-paragraph {
      margin-bottom: 24px;
      color: $primaryMedium;

      &:nth-child(odd) {
        color: $white;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &-expand {
      margin-top: 24px;

      .arrow-circle {
        transition: transform 550ms ease-in-out;
      }

      &.active {
        .arrow-circle {
          transform: rotate(-90deg);
        }
      }
    }

    &.animate {
      .history {
        &__item {
          &-dot {
            .circle-big {
              fill: $secondary;
            }

            .circle-small {
              fill: $white;
            }
          }

          &-loader {
            height: 100%;
          }
        }
      }
    }

    &:last-of-type {
      padding-bottom: 0;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .history {
    &__list {
      grid-template-columns: 1fr;
    }

    &__timeline {
      left: 50%;
      transform: translateX(-50%);
    }

    &__item {
      //padding-bottom: 200px;

      &-invisible {
        display: block;
      }

      &-loader {
        &-white {
          position: absolute;
          width: 2px;
          height: 100%;
          background: $white;
        }
      }

      //&-img {
      //  width: 270px;
      //}

      &.left{
        padding-top: 300px;
      }

      &.right {
        //margin-left: auto;
        //padding-left: 48px;

        .history {
          &__item {
            &-loader {
              left: 0;
              transform: translateX(-1px);

              &-white {
                left: 0;
                transform: translateX(-1px);
              }
            }

            &-dot {
              transform: translateX(-50%);
            }
          }
        }
      }

      &.left {
        //padding-right: 48px;
        //margin-top: -300px;

        .history {
          &__item {
            &-loader {
              left: auto;
              right: 0;
              transform: translateX(1px);

              &-white {
                right: 0;
                transform: translateX(1px);
              }
            }

            &-dot {
              left: auto;
              right: 0;
              transform: translateX(50%);
            }
          }
        }
      }
    }
  }
}
