.wpcf7 {
  background: $darkMediumLight;
  padding: 40px 10px;
  border-radius: 16px;

  &-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;


    label {
      color: $darkerText;
      font-size: 14px;
    }

    .wpcf7-response-output {
      font: 400 16px/1.5 $interRegular;
    }

    &.invalid {
      .wpcf7-response-output {
        color: $danger2;
        margin: 0;
        border: 0;
        padding: 0;
      }
    }

    &.sent {
      .wpcf7-response-output {
        color: $blue;
        margin: 0;
        border: 0;
        padding: 0;
      }
    }
  }

  &-text,
  &-textarea,
  &-file {
    width: 100%;
    color: $darkerText;
    background: $darkLight;
    border: 1px solid $accent;
    border-radius: 8px;
    padding: 15px;
    transition: all 300ms ease-in-out;
    resize: none;

    &:active,
    &:focus,
    &:hover {
      outline: 0;
      color: $base;
      border-color: $blue;
    }

    &.wpcf7-file {
      padding: 6px;

      &::file-selector-button {
        background: rgba(255, 255, 255, 0.1);
        padding: 13px 22px;
        border-radius: 10px;
        border: 0;
        color: $base;
      }

      &:active,
      &:focus,
      &:hover {
        outline: 0;
        border-color: $darkMediumLight;
      }
    }
  }

  &-acceptance {
    .wpcf7-list-item {
      margin: 0;
    }

    label {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    a {
      text-decoration: none;
      color: $blue;
    }
  }

  &-submit {
    width: 1px;
    height: 1px;overflow: hidden;
    padding: 0;
    margin: 0;
    opacity: 0;
  }

  &-custom-submit-btn {
    cursor: pointer;

    &:disabled {
      opacity: 0.2;
    }
  }

  &-not-valid {
    border-color: $danger2;
    color: $danger2;

    &-tip {
      color: $danger2;
      margin-top: 5px;
    }
  }

  &-spinner {
    background: $darkLight;

    &::before {
      background: $blue;
    }
  }
}

@media only screen and (min-width: 768px) {
  .wpcf7 {
    padding: 40px;
  }
}
