.hero {
  position: relative;
  padding: 120px 0 24px;

  &__img,
  &__mobile-img,
  &__gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__img {
    z-index: 1;
  }

  &__mobile-img{
    display: none;
  }

  &__gradient {
    background: linear-gradient(180deg, #222 0%, rgba(34, 34, 34, 0.00) 100%);
    z-index: 2;
  }

  .container {
    position: relative;
    width: 100%;
    z-index: 3;
  }

  &__breadcrumb {
    span {
      display: grid;
      grid-template-columns: 1fr;
      gap: 6px;

      a,
      .breadcrumb_last {
        font: 400 12px/1 $malloryBook;
        text-transform: uppercase;
      }

      a {
        color: $white;
        opacity: 0.5;
      }

      .breadcrumb_last {
        color: $white;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .hero {
    padding: 120px 0 80px;

    &__breadcrumb {
      span {
        display: flex;

        span {
          &::after {
            content: '/';
            font: 400 14px/1 $malloryBook;
            color: $white;
            opacity: 0.5;
          }
        }

        a,
        .breadcrumb_last {
          font-size: 14px;
        }

        .breadcrumb_last {
          &::after {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 390px) {
  .hero {
    padding: 120px 0 80px;

    &__img {
      display: none;
    }
  
    &__mobile-img {
      display: block;
    }
  }
}



