.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 997;
  padding: 21px 0;
  transition: all 300ms ease-in-out;
  background-color: transparent;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__dark-logo{
    width: 85px;
    height: auto;
  }

  /* language switcher: treba proveriti kada se doda eng jezik */
  .wpml-ls {
    position: relative;
    top: unset;
    left: -20px;


    &-current-language {
      .wpml-ls-link {
        color: $white;
      }
    }
  }

  &__menu {
    position: absolute;
    top: 0;
    left: -100%;
    display: grid;
    width: 100%;
    background-color: #dfeef8;
    height: 100vh;
    transition: left 1s ease-out;
    z-index: 999;

    &--content{
      display: flex;
      flex-direction: column;

      &-items{
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-bottom: 36px;
        margin-top: 24px;
      }

      &-item{
        color: $primary;
        text-transform: uppercase;
        font: 400 40px/1 $malloryBook;
        transition: all 0.3s ease-in-out;
        text-decoration: none;

        &:hover{
          color: $primaryLight;
        }
      }

      &-right{
        order: 1;
      }

      &-buttons{
        width: 100%;
        display: flex;
        flex-direction: column;
        order: 3;
        margin-top: 36px;
        gap: 24px;
        .button-iron{
          display: flex !important;
          width: 327px;
          align-self: center;
          &:last-of-type{
            gap: 145px;
          }
        }
      }
    }

    &-img{
      width: 100%;
      //height: 230px;
      order: 2;
      object-fit: cover;
    }


    &-languages{
      display: block;
      font: 400 17px/1 Mallory-Book,sans-serif;
      span{
        color: $white;
      }
    }

    &-languages--mobile{
      display: flex;
      align-self: center;
      font-size: 14px;
    }

    &-items{
      display: none;
    }

    &-links {
      width: 100%;
      padding-bottom: 104px;
    }
    .container{
      display: flex;
      flex-direction: column;
    }

    &--header{
      width: 100%;
      display: flex;
      padding: 21px 0;
      justify-content: space-between;
      align-items: center;
    }

    &--bottom{
      display: flex;
      justify-content: center;
      width: 100%;
      margin-bottom: 20px;

      &-copyright{
        font: 400 12px/1.1 $malloryBook;
        text-transform: uppercase;
        color: $primary;
      }

      &-socials{
        display: none;
      }

      &-social{
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
        &:hover{
          opacity: 0.6;
        }
      }
    }

    &--socials{
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-top: 56px;
      margin-bottom: 36px;

      &-links{
        display: flex;
        gap: 36px;
      }
      &-link{
        img{
          height: 18px;
        }
      }

      &-dre{
        width: 115px;
      }
    }
  }

  &__toggles {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 30px;
  }

  &__dre-logo{
    display: none;
  }

  &__dre-logo-dark{
    display: none;
  }

  .button-iron{
    display: none;
  }

  &__hamburger {
    position: relative;
    width: 64px;
    display: flex;
    flex-flow: column;
    gap: 6px;
    padding: 14px 0;
    cursor: pointer;
    //z-index: 998;

    &-lines {
      display: block;
      align-self: end;
      transition: all 550ms ease-in-out;

      span {
        display: block;
        height: 2px;
        background: $white;
        transition: all 550ms ease-in-out;
      }

      &-one--1{
        width: 64px;
        opacity: 1;
      }


      &-two--1{
        width: 64px;
      }

    }

    &:hover {
      .header__hamburger {
        &-lines {
          span {
            background: $primaryLight;
          }
        }
      }
    }

    &-menu{
      display: flex;
      align-items: center;
      gap: 24px;
    }

    &-menu--expanded{
      display: flex;
      align-items: center;
      gap: 12px;
      text-transform: uppercase;
      width: calc(50% - 85px);
    }

    &-menu{
      font: 400 17px/1 $malloryBook;
      color: $white;
      text-transform: uppercase;
      display: flex;
      gap: 12px;
    }
  }

  &.expended {
    .header {
      &__hamburger {
        span {
          background: $primary;
        }

        &-text {
          color: $primary;
        }

        &-lines {

          &-one {
            &--1 {
              transform: rotate(-30deg) translateX(-6px);
              //opacity: 0;
            }
          }

          &-two {
            &--1 {
              transform: rotate(30deg) translateX(-6px);
            }

          }
        }

        &:hover {
          .header__hamburger {
            &-lines {
              span {
                background: $primaryLight;
              }
            }
          }
        }
      }

      &__menu{
        &-languages--expanded{
          font: 400 17px/1 Mallory-Book,sans-serif;
          span{
            color: $primary;
          }
        }
      }

      &__contact{
        display: flex;
        justify-content: flex-end;
        width: calc(50% - 85px);
      }

      &__contact-button{
        z-index: -1;
      }
    }
  }

  &__search {
    &-button {
      cursor: pointer;
      z-index: 999;

      svg {
        display: block;
        width: 24px;
        height: auto;

        path {
          transition: 300ms ease-in-out;
          stroke: $primary;
        }
      }

      &:hover {
        svg {
          path {
            stroke: $secondary;
          }
        }
      }
    }
  }

  &.sticky {
    background: $white;
    box-shadow: 0 10px 15px 0 rgba(11,21,26,.4);
    padding: 21px 0;

    .header__hamburger-menu{
      span{
        background: $primary;
      }
      p{
        color: $primary;
      }
    }

    .header__menu-languages{
    span{
      color: $primary;
    }
    }

    .header__menu-item{
      color: $primary;

      &:hover{
        border-bottom: 1px solid $primary;
      }
    }

    .header__menu-item.active{
      border-bottom: 2px solid $primary;
    }
  }

}

@media only screen and (max-width: 768px) {
  .header {
    &__menu{
      overflow-y: auto;
      &--content {
        &-item{
          font-size: 30px;
        }
      }
    }

    &__hamburger-text{
      display: none;
    }
    &__hamburger{
      width: 30px;
      margin-left: 8px;
      &-lines {
        display: block;
        align-self: end;
        transition: all 550ms ease-in-out;

        span {
          display: block;
          height: 2px;
          background: $white;
          transition: all 550ms ease-in-out;
        }

        &-one--1{
          width: 30px;
          opacity: 1;
        }


        &-two--1{
          width: 30px;
        }

      }
    }

    &.expended {
      .header {
        &__hamburger {
          span {
            background: $primary;
          }

          &-text {
            color: $primary;
          }

          &-lines {

            &-one {
              &--1 {
                transform: rotate(-30deg) translateX(-8px);
              }
            }

            &-two {
              &--1 {
                transform: rotate(30deg) translateX(-8px);
              }

            }
          }
        }
      }
    }
  }
}


@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .header {
    &.expended {
      .header{
        &__menu {
          &--content {
            gap: 70px;

            &-item{
              font-size: 48px;
            }
          }
          &-img{
            width: 55%;
            height: auto;
          }
        }
        &__dre-logo-dark{
          display: none;
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .header {
    &__menu {
      &-items{
        display: none !important;
      }
    }
  }
}


@media only screen and (min-width: 1024px) {
  .header {
    &__logo {
      display: block;

      &-img {
        width: auto;
        height: 32px;
        object-fit: contain;
        object-position: left;
        transition: width 300ms ease-in-out;
      }
    }
  &__logo--mobile{
    display: none;
  }

    &__dark-logo{
      width: 166px;
      height: 90px;
    }

    &__dre-logo-dark{
      display: block;
    }

    &__contact{
      gap: 40px;
      justify-content: center;
      align-items: center;
    }

    &__menu {
      left: -100%;
      transition: left 1s ease-out;
      overflow-y: auto;
      height: 100vh;
      max-height: 1080px;
      transform: none;
      top: 0;
      z-index: 999;

      .container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        //justify-content: center;
        width: 100%;
      }

      &--content{
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 174px;

        &-right{
          display: flex;
          flex-direction: column;
          gap: 124px;
          //align-self: end;
          align-self: center;
          order: 2;
        }

        &-items{
          margin-bottom: unset;
          gap: 42px;
        }
        &-item{
          //font-size: 70px;
          font-size: 48px;
        }

        &-buttons{
            display: none;
        }
      }

      &--bottom{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 88px;
        margin-top: 24px;

        &-copyright{
          font-size: 20px;
        }

        &-socials{
          display: flex;
          gap: 48px;
        }

        &-social{
          opacity: 1;
          transition: opacity 0.3s ease-in-out;
          &:hover{
            opacity: 0.6;
          }
        }
      }

      &--socials{
        display: none;
      }

      &-img{
        width: 722px;
        height: 576px;
        object-fit: cover;
        object-position: 60%;
        order: 1;
      }

      &-items{
        display: flex;
        gap: 70px;
      }

      &-item{
        color: $white;
        position: relative;
        text-transform: uppercase;
        font: 400 18px/1 $malloryBook;
        padding-bottom: 5px;
        transition: all 0.3s ease-in-out;
        border-bottom: 1px solid transparent;
        text-decoration: none;

        &:hover{
          border-bottom-width: 1px;
          border-color: $white;
        }
      }

      &-item.active{
        border-bottom: 2px solid $white;
      }



    &-languages{
        display: flex;
        justify-content: flex-end;
        font: 400 17px/1 $malloryBook;
        .container{
          height: fit-content;
          padding:0;
        }
      span{
        color: $white;
      }
      }
    }

    &__hamburger{
      &-menu--expanded{
        gap: 24px;
        width: calc(50% - 166px);
      }
    }

    &__contact{
      width: calc(50% - 166px) !important;
    }


    &.sticky {
      .header {
        &__dre-logo{
          filter: unset;
        }

        &__menu-languages{
         span{
           color: $primary;
         }
        }
      }
      .button-iron-white{
        color: $primary;
        border: 1px solid $primary;
        svg {
          path {
            fill: $primary;
          }
        }
        &:before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 0;
          background: $primary;
          transition: height 0.5s ease-in-out;
          z-index: -1;
        }

        &:hover::before {
          height: 100%;
        }

        &:hover {
          color: $white !important;

          svg {
            path {
              fill: $white;
            }
          }
        }
      }
    }

    &__dre-logo-dark{
      width: 116px;
      height: 24px;
    }

    &__dre-logo{
      display: block;
      filter: invert(100%) brightness(1000%);
    }

    .button-iron{
      display: flex;
    }
  }
}
